@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: "Poppins";
    margin: 0;
    width: 100%;
    color: #252525;
}

* {
    scroll-behavior: smooth;
    scroll-margin: 40px;
}


/* ================================NavBar============================================= */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #fff5;
    transition: 0.3s all;
}

#menu-links {
    display: none;
}

#logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 23px;
}

.logo-main {
    color: #000;
    font-size: 30px;
}

.logo-next {
    background-image: linear-gradient(45deg, #6600FF, #00CC99);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
}

#links {
    display: flex;
    align-items: center;
    gap: 20px;
}

#links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.2s all;
}

#links a:hover {
    color: #6600FF;
}

#links li {
    list-style: none;
}

#mobile-burger-menu {
    display: none;
}


/* ===============================Hero section ===================================================*/

#hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 30px;
    background-image: url("./imagenes/patternpad\ \(1\).png");
    background-size: contain;
}

#main-text {
    width: 50%;
    padding: 50px;
}

.main-title {
    line-height: 1.2;
    font-size: 55px;
    color: #000;
    margin: 5px 0;
}

.main-title span {
    background-image: linear-gradient(45deg, #6600FF, #00CC99);
    -webkit-background-clip: text;
    color: transparent;
}

.main-subtitle {
    color: #000;
    font-size: 25px;
    margin: 0;
    line-height: 1.2;
}

#button-effect {
    margin-top: 50px;
}

#main-button {
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    background-color: #00CC99;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s all;
}

#main-button:hover {
    transform: translate(10px, -10px);
    box-shadow: -10px 10px 0px #0003;
}

#main-image {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 90px;
    box-sizing: border-box;
}

#main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

#mouse {
    height: 40px;
    width: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

#mouse-wheel {
    width: 5px;
    height: 5px;
    background-color: #000;
    border: 3px solid #000;
    border-radius: 15px;
    transform: translate(4.5px, 4px);
    animation: scrollDown 1.1s linear infinite;
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translate(4.5px, 4px);
    }
    20% {
        opacity: 1;
        transform: translate(4.5px, 4px);
    }
    80% {
        opacity: 1;
        transform: translate(4.5px, 25px);
    }
    100% {
        opacity: 0;
        transform: translate(4.5px, 25px);
    }
}


/* ===============================About section ===================================================*/

#about-section {
    padding: 50px;
    background-image: url("./imagenes/patternpad\ black\ \(2\).png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #e5e5e5;
    font-weight: 300;
    font-size: 30px;
}

.secondary-title {
    font-size: 35px;
    font-weight: 400;
    color: #6600FF;
    margin: 0;
}

.secondary-subtitle {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

#advantages-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: stretch;
    margin: 30px 0;
}

.advantages {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    border: 3px dashed #e5e5e5;
    padding: 20px;
    transition: 0.2s all;
}

.advantages span {
    font-size: 40px;
    margin: 1px;
    color: #6600FF;
}

.advantages h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin: 10px 0;
}

.advantages p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
}

.advantages:hover {
    color: #000;
    background-color: #e5e5e5;
}


/* ===============================Services section ===================================================*/

#services-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-section h3 {
    margin: 0;
    margin-bottom: 20px;
    color: #000;
}

.service {
    width: 80vw;
    height: 60vh;
    padding: 20px;
    align-items: flex-start;
    display: flex;
    box-shadow: 0 0 15px #0003;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
}

.service-text {
    padding: 20px;
}

.service-text h4 {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
}

.service-text p {
    line-height: 1.7;
    font-size: 1rem;
    text-align: justify;
    font-size: 1rem;
    margin: 10px 0;
}

.outer-circle {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    transition: 0.3s all;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
}

.inner-circle {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}

.inner-circle span {
    font-size: 2.4rem;
    transition: 0.3s all;
}

.left-circle {
    left: 40px;
}

.right-circle {
    right: 40px;
}

.service:hover .pool {
    animation: swimming-animation 0.8s ease-in-out;
}

.service:hover .kitchen {
    transform: scale(1.2);
}

.service:hover .bedroom {
    transform: scale(1.2);
}

.service:hover .soccer {
    transform: scale(1.3) rotate(90deg);
}

.pool:hover {
    animation: swimming-animation 0.8s ease-in-out;
}

@keyframes swimming-animation {
    25% {
        transform: scale(1.1) rotate(-25deg);
    }
    50% {
        transform: scale(1.1) rotate(25deg);
    }
    75% {
        transform: scale(1.1) rotate(-25deg);
    }
}

#first-color {
    background-color: #52DCBA;
}

#first-color-font {
    color: #52DCBA;
}

#second-color {
    background-color: #C992FF;
}

#second-color-font {
    color: #C992FF;
}

#third-color {
    background-color: #11CFA0;
}

#third-color-font {
    color: #11CFA0;
}

#fourth-color {
    background-color: #8408FF;
}

#fourth-color-font {
    color: #8408FF;
}

.arrow {
    position: absolute;
    bottom: -23%;
    width: 23vw;
}

.arrow-left {
    left: 35%;
}

.arrow-right {
    transform: scaleX(-1);
    right: 30%;
}

.service-image {
    margin: 20px;
    overflow: hidden;
    min-width: 19vw;
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    text-align: right;
}

h3 {
    font-size: 1.6rem;
}

#more-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#more-services table {
    border-collapse: collapse;
}

#more-services td {
    border: 1px solid #000;
    padding: 10px 19px;
    transition: 0.2s all;
}

#more-services td div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#more-services td:hover {
    background-color: #00CC99;
}


/* ===============================Location section ===================================================*/

#location-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    background-image: linear-gradient(45deg, #6600FF, #00CC99);
    overflow: hidden;
}

.location-divider {
    width: 100vw;
    height: 100px;
}

#top-divider {
    margin-bottom: 30px;
}

#bottom-divider {
    margin-top: 50px;
}

#location-section h3,
h4,
p {
    margin: 0;
}

#location-section h3 {
    margin-bottom: 30px;
    color: #fff;
}

#location {
    /* width: 80vw; */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid #0005; */
}

#location iframe {
    width: 70vw;
    height: 70vh;
    border-radius: 10px;
}

#location-text {
    background-color: #fff;
    position: absolute;
    right: 0;
    width: 20vw;
    height: 70vh;
    box-sizing: border-box;
    padding: 25px;
    border-left: 1px solid #0005;
    border-radius: 0 10px 10px 0;
    /* box-shadow: 0px 0px 15px #0003; */
    display: flex;
    flex-direction: column;
    gap: 8%;
    transition: 0.3s all;
    overflow: hidden;
}

#location-text:hover {
    width: 30vw;
}

#location-text h4 {
    font-weight: 500;
    color: #11CFA0;
}

.location-button {
    color: #000;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s all;
}

.location-button span {
    transform: translateY(6px);
    transition: 0.3s all;
}

.location-block:hover span {
    transform: translate(12px, 6px);
}


/* ===============================Contact section ===================================================*/

#contact-section {
    padding: 30px 0;
}

#contact-image,
#contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#contact-image {
    background-image: url("./imagenes/patternpad-small-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 120vw;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    justify-content: center;
}

#contact-image i {
    font-size: 10rem;
    background-image: linear-gradient(45deg, #6600FF, #00CC99);
    -webkit-background-clip: text;
    color: transparent;
    /* text-shadow: -10px 10px 10px #0004; */
}

#contact-text {
    width: 100%;
}

#contact-text h3 {
    margin: 0;
    /* color: #11CFA0; */
    font-size: 1.6rem;
    text-align: center;
}

#contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

#contact-section input,
#contact-section textarea {
    border: none;
    background-color: #eee;
    outline: none;
    padding: 10px;
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 10px;
}

#contact-section input[type="submit"] {
    background-color: #00CC99;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s all;
}

#contact-section input[type="submit"]:hover {
    background-color: #11CFA0;
}


/* ===============================Footer ===================================================*/

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

footer div img {
    width: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    /* NavBar */
    header {
        width: 100vw;
    }
    #links {
        display: none;
    }
    nav {
        z-index: 100;
    }
    #menu-links {
        display: block;
        position: absolute;
        top: 0px;
        padding-top: 70px;
        background-color: #fff;
        max-height: 0;
        width: 100%;
        transition: 0.3s all;
        overflow: hidden;
        z-index: 10;
    }
    #menu-links li {
        text-align: right;
        margin: 20px;
        list-style: none;
    }
    #menu-links a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }
    #mobile-burger-menu {
        display: block;
    }
    #check {
        display: none;
    }
    #burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 45px;
        height: 45px;
        background-color: #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
    #burger-menu span {
        display: block;
        width: 34px;
        height: 3px;
        border-radius: 30px;
        background-color: #000;
        transition: 0.3s all;
    }
    #check:checked~#burger-menu span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }
    #check:checked~#burger-menu span:nth-child(2) {
        opacity: 0;
    }
    #check:checked~#burger-menu span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }
    main {
        width: 100vw;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
    }
    #hero-section {
        flex-direction: column;
        height: 100vh;
        box-sizing: border-box;
        gap: 0;
    }
    #main-text {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        margin-top: 70px;
    }
    #main-image {
        padding: 20px;
        width: 100%;
    }
    #button-effect {
        margin-top: 20px;
    }
    #mouse {
        border-color: #fff;
        bottom: 40px;
    }
    #mouse-wheel {
        border-color: #fff;
        background-color: #fff;
    }
    #about-section {
        padding: 20px;
    }
    #advantages-container {
        padding: 25px;
        flex-direction: column;
        margin: 0;
    }
    #more-services {
        display: none;
    }
    /* ================================Revisar tema tablas====================== */
}